
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

First Name <input type="text" name="firstName" required /><br />
Last Name <input type="text" name="LastName" required /><br />
Email <input type="email" name="email" required /><br />
User Name<input type="text" name="userName" required /><br />
Address<input type="text" name="address" required /><br />
City <input type="text" name="city" required /><br />
State <input type="text" name="state" required /><br />
Password <input type="password" name="password" required /><br />

