
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Home/Welcome" method="post">
    <div class="control-label col-md-2">
        First Name <input type="text" name="FirstName" required /><br /><br />
        Last Name <input type="text" name="LastName" required /><br /><br />
        Email <input type="email" name="email" required /><br /><br />
        Phone Number <input type="number" name="phoneNumber" required /><br /><br />
        User Name <input type="text" name="userName" required /><br /><br />
        Birthday <input type="date" name="birthday" required /><br /><br />
        Password <input type="password" name="password1" required /><br /><br />
        Confirm Password <input type="password" name="password2" required /><br /><br />
        @if (ViewBag.ErrorMessage != null)
        {<p class="text-danger"> @ViewBag.ErrorMessage</p>
    }
    
        <input type="submit" class="btn-warning" />
    </div>
</form>


